.welcome-title {
    width: 100%;
    height: 360px;
}

.welcome-title img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 50px;
}

.welcome-buttons {
    padding-bottom: 90px;
}